<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.programingslearning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".javainterviewq"></activity>
        <activity android:name=".javaprojects" />
        <activity android:name=".javavideoexception" />
        <activity android:name=".javatheoryexception" />
        <activity android:name=".javaexception" />
        <activity android:name=".javavideowrapper" />
        <activity android:name=".javatheorypwrapper" />
        <activity android:name=".javawrapperclass" />
        <activity android:name=".javavideohashmap" />
        <activity android:name=".javatheoryhashmap" />
        <activity android:name=".javahashmap" />
        <activity android:name=".javavideoabstraction" />
        <activity android:name=".javatheoryabstraction" />
        <activity android:name=".javaabstraction" />
        <activity android:name=".javavideopackage" />
        <activity android:name=".javatheorypackage" />
        <activity android:name=".javapackges" />
        <activity android:name=".javavideoconstractor" />
        <activity android:name=".javatheoryconstractor" />
        <activity android:name=".javaconstractors" />
        <activity android:name=".javavideointro" />
        <activity android:name=".javatheoryintro" />
        <activity android:name=".javaintro" />
        <activity android:name=".javalisttopic" />
        <activity android:name=".cplusintervieq" />
        <activity android:name=".cplusquestion" />
        <activity android:name=".cplusvidethreading" />
        <activity android:name=".cplustheorythreading" />
        <activity android:name=".cplusmultithreading" />
        <activity android:name=".cplusvideoencapsulation" />
        <activity android:name=".cplustheoryencapsulation" />
        <activity android:name=".cplusencapsulation" />
        <activity android:name=".cplusvidepoly" />
        <activity android:name=".cplustheorypoly" />
        <activity android:name=".cpluspolymorphism" />
        <activity android:name=".cplusvideooverloading" />
        <activity android:name=".cplustheoryoverloading" />
        <activity android:name=".cplusoverloading" />
        <activity android:name=".cplusvideoinheritance" />
        <activity android:name=".cplustheoryinheritance" />
        <activity android:name=".cplusinheritance" />
        <activity android:name=".cplusvideoclass" />
        <activity android:name=".cplustheoryclass" />
        <activity android:name=".cplusclassobject" />
        <activity android:name=".cplusvideointro" />
        <activity android:name=".cplustheoryintro" />
        <activity android:name=".cplusintroduction" />
        <activity android:name=".cpluslisttopic" />
        <activity android:name=".androidprojects" />
        <activity android:name=".androidinterviewQ" />
        <activity android:name=".androidgooglemap" />
        <activity android:name=".atheorydatabse" />
        <activity android:name=".avideodatabse" />
        <activity android:name=".androiddatabase" />
        <activity android:name=".atheoryanimation" />
        <activity android:name=".avideoanimation" />
        <activity android:name=".androidanimation" />
        <activity android:name=".atheorylayout" />
        <activity android:name=".avideolayout" />
        <activity android:name=".androidlayout" />
        <activity android:name=".atheoryfragment" />
        <activity android:name=".avideofragment" />
        <activity android:name=".androidfragments" />
        <activity android:name=".avideoactivity" />
        <activity android:name=".atheoryactivity" />
        <activity android:name=".androidactivitys" />
        <activity android:name=".androidtopiclist" />
        <activity android:name=".cpracticsquestion" />
        <activity android:name=".cvideorecursion" />
        <activity android:name=".ctheoryrecursion" />
        <activity android:name=".crecursion" />
        <activity android:name=".cvideoerrorhandling" />
        <activity android:name=".ctheoryerrorhandling" />
        <activity android:name=".cerrorhandling" />
        <activity android:name=".cvideopointer" />
        <activity android:name=".ctheorypointer" />
        <activity android:name=".cpointer" />
        <activity android:name=".cvideoarray" />
        <activity android:name=".ctheoryarray" />
        <activity android:name=".carray" />
        <activity android:name=".cvideofunction" />
        <activity android:name=".ctheoryfunction" />
        <activity android:name=".cfunction" />
        <activity android:name=".cvideodecision" />
        <activity android:name=".ctheorydecision" />
        <activity android:name=".cdecisionmaking" />
        <activity android:name=".cvideoloop" />
        <activity android:name=".ctheoryloop" />
        <activity android:name=".cloops" />
        <activity android:name=".cvideovariable" />
        <activity android:name=".ctheoryvariables" />
        <activity android:name=".cvariables" />
        <activity android:name=".cvideointro" />
        <activity android:name=".ctheoryintro" />
        <activity android:name=".cintroduction" />
        <activity android:name=".clisttopic" />
        <activity android:name=".mainscreen" />
        <activity android:name=".googlelogin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>